<div class="container"

  <h1 class="title-lg" mb> <%= question_header(@test) %></h1>

  <p class="mb-lg"><%= render 'form' %></p>
  <p class="mb-lg"><%= link_to 'Back', test_questions_path %></p>

</div>
