<div class="row justify-content-center mt-3">
  <div class="col-8 col—md—4">
    <h1>Badges</h1>
    <p>
      <%= link_to 'New Badge', new_admin_badge_path %>
    </p>
    <table class="table table-bordered border-secondary">
      <tr class="table table-primary table-bordered border-secondary" >
        <th class="sort-by-title pointer">Title
        <%= octicon 'arrow-up', class: 'text-success hide' %>
        <%= octicon 'arrow-down', class: 'text-success hide' %>
        </th>
        <th>Rule</th>
        <th>Image</th>
        <th colspan ="4"> Action </th>
      </tr>
      <%= render @badges %>
    </table>
  </div>
</div>
