<div class="nav nav-admin">
  <span class="nav-admin title"><%=t('.admin_panel')%></span>

  <div class="nav-admin user">
  <b class="nav-admin user-email"><%= t('.welcome', name: current_user.first_name) %></b>
    <%= button_to 'Logout', destroy_user_session_path, method: :delete, data: {confirm: t('.confirm')}%>
  </div>
</div>
