<nav class="navbar" style="background-color: #D8BFD8;">
  <div class="container-fluid">
  <%= t('.admin_panel')%> |
  <span class="nav justify-content-end">
    <%= t('.welcome', name: current_user.first_name) %>  |
    <%= link_to t('.testguru'), admin_tests_path, class: 'nav-link active' %>
    <%= button_to t('.logout'), destroy_user_session_path, method: :delete, data: { confirm: t('.confirm')} %>
  </span>
  </div>
  <span>
</nav>
