<div class="footer">
  <li>
    <%= current_year %> | автор: Александра Сыса | <%= githab_url('AlexSyssa', 'testguru') %><br>
    Веб-приложение для тестирования.
    Учебный проект в онлайн-школе
    <%= link_to 'Thinknetica', 'http://thinknetica.com/', target: :blank, 'rel': 'no-follow' %>
  </li>
</div>
