body {
  background-color: #fff;
  padding: 50px;
  justify-content: center;
}

.wrapper {
  max-width:800px;
  margin: 40px;
  width: 100%;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  background: #fff;
  padding: 40px;
}

.header,
.footer {
  background-color: #D8BFD8;
  padding: 40px 20px;
  margin-top: auto;
}
