.nav {
  text-align: left;
  color: #fff;
}

.nav.nav-admin {
  height: 35px;
  padding: 15px;
  line-height: 35px;
  color: #ffffff;
  background-color: #6B5B95;
  margin-bottom: 40px;
}

.nav-admin.title {
  font-size: 140%;
  font-weight: bold;
}

.nav-admin.user {
  float: right;
}

.nav-admin.user-email {
  text-decoration: underline;
}

.nav.nav-admin
a {
  color: #ffffff;
}

.nav.nav-user {
  height: 35px;
  padding: 15px;
  line-height: 35px;
  color: #6C4F3D;
  background-color: #ECDB54;
  margin-bottom: 40px;
}
.nav.nav-user
a {
  color: #6C4F3D;
}
